/*GLOBAL */

* {
    font-family: sans-serif;
}

.flux {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */

.button{
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 10px 7px;
}

.button--black{
    background-color: black;
    color: white;
}

/* HEADER */

.header{
    position: fixed;
    width: 100%;
}

.header__container{
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header__logo{
    width: 150px;
    filter: invert(100%) sepia(4%) saturate(4015%) hue-rotate(14deg) brightness(121%) contrast(104%);
}

.header__nav {
    /*Unused*/
    color: inherit;
}

.header__list-link{
    display: flex;
    column-gap: 20px;
    height: 100%;
    align-items: center;
}

.header__link{
    color: white;
}

.header__quick-action{
    display:flex;
    column-gap: 20px;
}

/* HERO */
.hero {
    background-color: lightblue;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 500px;
    padding-top: 300px;
    row-gap: 20px;
}

.hero__title {
    color: white;
    font-weight: 400;
    font-size: 36px;
}

.hero__description{
    color: white;
}

.hero__search-bar {
    background-color: white;
    padding: 40px 50px;
    border-radius: 20px;
    display:flex;
    column-gap: 90px;
}

.hero__field{
    display:flex;
    flex-direction: column;
    row-gap: 5px;
}

.hero__label{
    color: grey;
    font-size: 14px;
}

.hero__input{
    font-size: 16px;
    width: 250px
}

.hero__input::placeholder {
    opacity: 1;
}